# .env example
# set + a
# source .env
# set -a
NSIDC_WMS_BASE="https://nsidc.org/api/mapservices?service=WMS&request=GetMap"
NSIDC_WMS_LAYER="NSIDC:seaice_conc_daily_north"

NSIDC_DATA_DIR="$PWD/data"
NSIDC_OPENDAP_URL="$NSIDC_DATA_DIR/sic_psn25_20250915_F17_icdr_v03r00.nc"
NSIDC_VAR_NAME="cdr_seaice_conc"
NSIDC_CRS="EPSG:3411"

NSIDC_SENSORS="F18,F17"
NSIDC_URL_PATTERN="https://noaadata.apps.nsidc.org/NOAA/G10016_V3/CDR/north/daily/{yyyy}/sic_psn25_{yyyymmdd}_{sensor}_icdr_v03r00.nc"

AIS_EXPORTVESSELS_KEY=""
AIS_EXPORTVESSELTRACK_KEY=""
AIS_SHIPSEARCH_KEY=""
AIS_VESSELPHOTO_KEY=""
AIS_PORTCALLS_KEY=""
AIS_VESSELEVENTS_KEY=""
AIS_ROUTING_KEY=""

CSV_PATH="./csv/2024-2 UNLOCODE CodeListPart3.csv"

HOST=

WO_INSTANCE=https://api.us-south.watson-orchestrate.cloud.ibm.com/instances/xxxxx
WO_API_KEY=bbbb
ENV_NAME=nnc

# Langfuse Project
LANGFUSE_SECRET_KEY=""
LANGFUSE_PUBLIC_KEY=""
LANGFUSE_BASE_URL=""
